<header class='<%= get_main_header_class %>'>
  <div class="container-fluid">
    <div class="logo main-logo">
      <%= link_to root_path do %>
        <%= image_tag asset_path("logo.png") %>
      <% end %>
    </div>

    <div class="top-social">
      <%= link_to 'https://www.youtube.com/@Fightrix-Club', target: '_blank' do %>
        <i class="fa fa-youtube-play"></i>
      <% end %>

      <%= link_to 'https://www.instagram.com/fightrixclub/?igsh=d3EzcnlzMWJ3cHd4', target: '_blank' do %>
        <i class="fa fa-instagram"></i>
      <% end %>

      <%= link_to 'https://www.threads.net/@fightrixclub', target: '_blank' do %>
        <i class="fa fa-twitter"></i>
      <% end %>

      <%= link_to 'mailto:fightrixclub@gmail.com', target: '_blank' do %>
        <i class="fa fa-google-plus"></i>
      <% end %>
    </div>

    <div class="container">
      <div class="nav-menu">
        <nav class="mainmenu mobile-menu">
          <ul>
            <li class='<%= get_nav_menu_class('index') %>'>
              <%= link_to 'Home', root_path %>
            </li>

            <li class='<%= get_nav_menu_class('about_us') %>'>
              <%= link_to 'About us', about_us_path %>
            </li>

            <li>
              <%= link_to 'Schedule', schedule_path %>
            </li>

            <li class='<%= get_nav_menu_class('gallery') %>'>
              <%= link_to 'Gallery', gallery_path %>
            </li>

            <%# <li><a href="./blog.html">Blog</a>
              <ul class="dropdown">
                <li><a href="./about-us.html">About Us</a></li>
                <li><a href="./blog-single.html">Blog Details</a></li>
              </ul>
            </li> %>

            <li class='<%= get_nav_menu_class('contact_us') %>'>
              <%= link_to 'Contacts', contact_us_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="mobile-menu-wrap"></div>
  </div>
</header>
