<section class="classes-section">
  <div class="class-title set-bg" data-setbg="<%= asset_path('classes-title-bg.jpg') %>">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto text-center">
          <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
            <h3>Why Choose Fightrix Personal Training?</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="classes-item set-bg" data-setbg="<%= asset_path('classes/class-1.jpg') %>">
          <h4>Personalized Training Plans</h4>
          <p>Each person’s journey is unique. Our trainers will create a customized workout and fighting strategy tailored to your specific goals and fitness level.</p>
          <%# <a href="#" class="primary-btn class-btn d-none">Read More</a> %>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="classes-item set-bg" data-setbg="<%= asset_path('classes/class-2.jpg') %>">
          <h4>Skilled Coaches</h4>
          <p>With years of experience in combat sports, our dedicated trainers are committed to helping you elevate your skills.</p>
          <%# <a href="#" class="primary-btn class-btn d-none">Read More</a> %>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="classes-item set-bg" data-setbg="<%= asset_path('classes/class-3.jpg') %>">
          <h4>Holistic Training</h4>
          <p>At Fightrix, we prioritize both mental and physical fitness. Our sessions are designed to strengthen a fighter’s mindset, enhance mental resilience, and build lasting self-confidence.</p>
          <%# <a href="#" class="primary-btn class-btn d-none">Read More</a> %>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="classes-item set-bg" data-setbg="<%= asset_path('classes/class-4.jpg') %>">
          <h4>Inclusive Community</h4>
          <p>We are committed to supporting underprivileged and specially-abled children. A portion of every membership fee helps fund scholarships and provide free training for those in need.</p>
          <%# <a href="#" class="primary-btn class-btn d-none">Read More</a> %>
        </div>
      </div>
    </div>
  </div>
</section>
